.total_body{
  height: 95vh;
}
 
 /* <!-- Side Navbar  --> */

.Profile{
  color: orangered;
  position: relative;
  bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Profile a:hover{
  color:whitesmoke;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; 
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #1d1919;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -300px; 
}

#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto; 
}

#sidebar .logo span {
  display: block; 
}

#sidebar ul.components {
  padding: 0; 
}

#sidebar ul li {
  font-size: 16px; 
}

#sidebar ul li > ul {
  margin-left: 10px; 
}

#sidebar ul li > ul li {
  font-size: 14px; 
}

#sidebar ul li a {
  padding: 12px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
  text-align: start;
  margin-left: 25px;
}

#sidebar ul li a:hover {
  color: #f8b739; 
}

#sidebar ul li.active > a {
  background: transparent;
  color: #f8b739; 
}

.p-4 ul li a{
  font-size: 20px;
}

a[data-toggle="collapse"] {
  position: relative; 
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.ant-menu-item a{
  background-color: hsl(0, 3%, 37%);
  color: rgb(234, 13, 13);
  padding-left: 25px;
  text-align: center;
}

.dropdown{
  margin-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 19px;
  text-align: start;
  margin-left: 25px;
  padding: 2px 0;
}

.icons2{
  color: #ee520a;
  font-size: 20px;
}

.icon3{
  color: rgb(10, 246, 231);
  font-size: 40px;
 
}



@media (max-width: 991.98px) {
#sidebar {
  margin-left: -300px; 
}
#sidebar.active {
  margin-left: 0; 
} }


/* <!-- Header  --> */

#sidebarCollapse{
  background-color: #10f2f2;
  color: #050505f1;
  margin-top: 2px;
}

#navbarSupportedContent ul li a{
  color: #ee520a;
  font-weight: bold;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  top: 7px;
}

#navbarSupportedContent ul li a:hover{
  border-top: 5px solid;
  color: hsl(15, 20%, 96%);
  border-top-color: #f9f4f8;
}

.icons1{
  color: rgba(245, 205, 5, 0.586);
}

.btn{
  margin-left: -8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: none;
}
  
.navbar {
  padding: 25px 10px;
  background: #1d1919;
  border: none;
  border-top-right-radius: 60px;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: -47px;
}


.search{
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px;  
  }

.search_input{
  color: hsl(0, 94%, 50%);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top:5px;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search .search_input{
  padding: 0 10px;
  width: 250px;
  caret-color:red;
  font-size: 20px;
  transition: width 0.4s linear;
  margin-top: -5px;
  margin-left: 7px;
}
  


.search_icon{
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
}

.search a i:hover{
  color: hsl(248, 94%, 48%);
}

.icobtn{
  margin-bottom: 30px;
  margin-left: 7px;
}
  
a:link{
  text-decoration:none;
}    

.ml-auto,
.mx-auto {
  margin-left: auto !important; 
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

@media (min-width: 576px) {
.m-sm-0 {
    margin: 0 !important; 
}
.ml-xl-auto,
.mx-xl-auto {
    margin-left: auto !important; 
  } }

@media (min-width: 992px) {
.navbar-expand-lg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; 
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute; 
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 0.5rem; 
}
.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; 
}
.navbar-expand-lg .navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto; 
}
.navbar-expand-lg .navbar-toggler {
  display: none; 
} }


/* <!-- Content Here  --> */

#content1 {
  position: absolute;
  top: 200px;
  left: 350px;
  font-size: 50px;
  color: black;
  font-weight: bold;
} 








































































  
  
  
  
  
  
  
  
  
  


  
  
  
  
  
  







  


 




  










